<div class="container-fluid" style="background-color: #fae994;">
        <div class="container text-dark">
          <div class="row p-5">
            <div class="col-md-4">
              <p class="h4">Instagram</p>
              <p class="text-secondary">
                ID: dodo.dogdog<br>
                <a class="text-danger" href="https://www.instagram.com/dodo.dogdog/">IG網頁連結</a>
              </p>
              <p class="h4">多多教教義</p>
              <p class="text-secondary">
                愛教主、讚頌教主、稱讚教主、喜歡教主 <br/> 愛狗、愛貓、愛動物、拒絕虐待 <br/>
              </p>
            </div>
            <div class="col-md-3">
              <p class="h4">教友團</p>
              <ul>
                <li class="mt-2"> <a class="text-danger" href="https://www.instagram.com/liting_1202/">媽媽</a></li>
                <li class="mt-2"> <a class="text-danger" href="https://www.instagram.com/550_pi/">爸爸</a></li>
                <li class="mt-2"> <a class="text-danger" href="https://www.instagram.com/benwan.cat/">兄弟貓本丸</a></li>
              </ul>
            </div>
            <div class="col-md-5" >
              <img class="card-img-center" src="./assets/images/code.png"  width="35%" height="auto"/>
              <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map> -->
            </div>
          </div>
        </div>
      </div>