<nav class="navbar navbar-expand-sm bg-dark">
  <div class="container">
    <div class="navbar-brand">
      <span class=""><img src="{{ logo }} " width="50"></span>
      <span class="text-white display-title">
        {{title}}
      </span>
    </div>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-5 display-5 dropdown" *ngFor="let menuitem of menu">
          <a href="#" class="text-white nav-link">{{menuitem}}</a>
        </li>
      </ul>
      <button class="btn btn-lg btn-outline-warning">
        我要登入
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="card" style="width: 20rem; margin-top:20px;">
    <img src="/assets/images/dodo.JPG" class="card-img-top" alt="123">
    <div class="card-body">
      <h5 class="card-title"> 多多 aka小多子 </h5>
      <p class="card-text"> 可愛狗狗就是我 ! </p>
      <a href="#" class="btn btn-primary" (click)="myEvent($event)"> 更多多多 </a>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-primary">{{ title }}</h1>
  <p class="{{mycss}}">這還是我的第一個網頁</p>
  <img src="{{logo}}" width="50px"  />
  <div style="margin: 10px;">
    <button class="btn btn-danger" (click)="changeColor()">
      紅色按鈕
    </button>
    <button class="btn btn-primary" (click)="changeColor()">
      換色
    </button>
  </div>
</div>