<div class="jumbotron">
    <div class="container-fluid text-light text-center d-flex flex-row-reverse align-items-center h-100">
        <div style="text-align: center;">
            <h2 class="display-4">嗨! 這裡是多多 aka小多子</h2>
            <p class="lead">˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+</p>
            <p class="lead">多多是一隻狐狸博美，有著搶戲的小眉毛、小襪子跟圍脖，歡迎大家一起關注多多的生活！</p>
            <p class="lead">是一個吃吃、睡睡、玩玩、跑跑、裝可愛的狗生 ▼・ᴥ・▼ </p>
            <p class="lead">˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+。˙.+</p>
            <hr class="my-4">
            <p>想知道更多多多教主的資訊嗎？繼續看下去吧！</p>
        </div>
    </div>
</div>